<div class="direction-container nested-fields" draggable="true">
  <input name="order" type="number" value="<%= f.object.order %>">
  <%= f.input :step, label: false %>
  <%= link_to_remove_association "Remove Step", f %>
</div>
