<div class="direction-container nested-fields" draggable="true">
  <%= f.hidden_field :order, value: f.object.order, label: false, class: "hidden-order-field" %>
  <%= f.input :step, label: false %>
  <%= link_to_remove_association "Remove Step", f %>
</div>
