<%= @recipe.each_slice(3) do |recipes| %>
<div class="row">
  <% recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src=<%= recipe.picture.url %>/>
        <div class="card-body">
          <h2><%= link_to recipe.title, recipe %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
