<h1>What is Recipes Without Blogs?</h1>
<p>Recipes Without Blogs is a website where people can submit and read recipes with a guarantee those recipes will never be accompanied by unnecessary blog posts or blog-post-like text.</p>
<p>Recipes on this website will only ever contain:<p>
<ol>
    <li>A short description (280 characters or fewer)</li>
    <li>A list of ingredients</li>
    <li>A list of instructions</li>
    <li>One featured image</li>
</ol>

<h1>Why does it look... bad?</h1>
<p>When I built this website, I set out to improve user experience as much as possible. It started with an idea to strip out the blog posts from internet recipes. Then, I was introduced to <a href="https://brutalist-web.design/">Brutalist Web Design</a>, and I realized the natural evolution of RWB would be a website that incorporates brutalist design.</p>
<p>The site might look bad or wrong at first, because many popular web sites are designed as applications, not web documents. By implementing Brutalist Web Design princples, I think this website will have excellent readability, usability, accessability, and performance. After you use the site for a while, I hope you'll come to love brutal design and its applications.</p>

<h1>I love it! How can I help?</h1>
<p>I'm glad you like the website! I worked very hard on it in my spare time. The best way you can help RWB thrive is by signing up as a user and adding your own recipes.</p>
<p>If you're a web developer, designer, server admin, or you're learning how to do those things, you can contribute via <a href="https://github.com/ogdenstudios/recipeswithoutblogs">GitHub</a>, or <a href="mailto:tyler@ogdenstudios.xyz">email me</a> about contributing code and/or your expertise.</p>
<p>Servers ain't free, and my time isn't either, so you can also <a href="https://ko-fi.com/ogdenstudios">buy me a coffee</a>, if that floats your boat.</p>

<h1>I hate it! This is a stupid idea</h1>
<p>Cool! Feel free to submit a PR on <a href="https://github.com/ogdenstudios/recipeswithoutblogs">GitHub</a> with how you'd do it better. Or don't. I'm a web developer, <a href="https://imgur.com/gallery/mSHi8">not a cop</a>.