<h1>Privacy Policy</h1>

<p>This is a privacy policy for the Recipes Without Blogs website, available at https://recipeswithoutblogs.com.</p>

<h2>Types of personal information we collect</h2>

<p>We collect the following information from users:</p>
<ul>
    <li>Email address</li>
</ul>

<p>We use this information to create accounts and send password resets.</p>

<h2>Location information</h2>

<p>We do not collect location information</p>

<h2>Analytics tools</h2>

<p>We use Google Analytics and cookies to monitor website traffic to our site. By using this site, you agree to us using this information for our analytics purposes.</p>

<h2>Law enforcement personal information requests</h2>

<p>We will never disclose personal information of users to law enforcement agents, unless compelled by law.</p>

<h2>Removal of information</h2>

<p>You can formally request to have your information removed from the website by emailing <a href="mailto:tyler@ogdenstudios.xyz">tyler@ogdenstudios.xyz</a>