<footer>
    <p>Report problems or make suggestions <a href="https://github.com/ogdenstudios/recipeswithoutblogs/issues">on GitHub</a> or <a href="mailto:tyler@ogdenstudios.xyz">via email</a>.</p>
    <p><%= link_to "Read our privacy policy", privacy_policy_path %></p>
</footer>